@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

::selection{
  background-color: #00b39b;
  color: #fff;
}

h1, h2, h3, h4 {
  margin: 1em 0;
  font-family: Work Sans, Arial, sans-serif;
  font-weight: 300;
  letter-spacing: -.3px;}

/* CSS pour le header */
header {
  position: fixed;
  background-color: white;
  width: 100%;
    color: #00b39b; 
    padding: 20px 0; 
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px; 
    margin: 0 auto; 
    padding: 0 20px; 
}

.logo img {
    height: 30px; 
}

nav ul {
    list-style-type: none; 
}

nav ul li {
    display: inline-flex; 
    padding: 0px 10px; 
}


nav a {
    text-decoration: none; 
    color: rgb(164, 164, 164); 
}
nav a:hover{
  color: #00b39b;
}

nav ul li:first-child a {
    color: #00b39b;
}

.sec1 {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding-top: 100px;
    
}
#sygnet{
    padding: 20px;
    max-width: 6.3%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.TitrePrincipal{
    font-size: 2.125rem;
    color: #00b39b;
    margin: 1em;
}

.sec2{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1015px;
    margin: 0 auto;
}

.paragraphe{
width: 50%;
margin: 10px;
padding: 10px;
font-family: Roboto,Arial,sans-serif;
color: #747474;
font-size: 16px;
line-height: 1.75;
}

.sec3{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
}

.carte{
  margin: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: antiquewhite;
  border-radius: 10px;
  max-width: 300px;
  height: 300px;
  font-size: 1.625em;
  font-weight: 400;
  color: #fff;}
  .carte H1{
    font-size: 26px;
    font-weight: 100;
    line-height: 33px;
  }
  .carte H2{
    font-size: 24px;
    line-height: 28.8px;
  }


#country-select {
	padding: 5px;
	font-size: 16px;
	border-radius: 5px;
  background-color: transparent;
  border: none;
}

.sec6 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 25px;
    grid-row-gap: 25px;
    }
    
    /* grille */
    .sec6 {
        max-width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
      }
      
      .grille {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 25px;
        grid-row-gap: 25px;
      }
      
      .case {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-items: center;
        background-color: #fff;
        border: #f3f3f3 solid 1px;
        border-radius: 5px;
        max-width: 300px;
        cursor: pointer;
      }
      
      .text-container {  
        display: flex; 
        justify-content: space-around;
        align-items: center;
      }
      
      
      .sec6 .grille .case img {
        max-width: 100%;
        height: auto;
        border-radius: 5px 5px 0 0;
      }
      
      h2 {
        margin-top: 10px;
        margin-bottom: 10px;
      }
      
      a {
        text-decoration: none;
        color: #fff;
      }
      
      .sec6 .grille .case h2{
        color: #747474;
        font-family: Roboto,Arial,sans-serif;
        font-size: 1.125em;
        font-weight: 400;
        margin: 20px 85px 20px 5px;

      }
      .sec6 .grille .case button{
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        cursor: pointer;
        background-color: #3d83df;
        height: 25px;
        border-radius: 5px;
        font-family: Roboto,Arial,sans-serif;
        font-size: .625rem;
        padding: 1em 1.5em;
      }

        .grille .case:hover {
        box-shadow: 0px 11px 41px -7px rgba(59,59,59,0.67);
-webkit-box-shadow: 0px 11px 41px -7px rgba(59,59,59,0.67);
-moz-box-shadow: 0px 11px 41px -7px rgba(59,59,59,0.67);
transition: 0.5s;
    }

.sec6 .grille .case button:hover{
      background-color: #2060b4;
    }

.sec7 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
  text-align: center;
}
.sec7 H1{
  font-size: 2.1428571429em;
  color: #333;
  margin-bottom: 0.75em;
}

.btn {
  border-radius: 5px;
  padding: 10px 10px;
  cursor: pointer;
  background-color: #3d83df;
  border: none;
  color: white;
}
.btn:hover{
  background-color: #2466bd;
}

.seclinks{
  display: flex;
  align-items: center;
}
.seclinks h1{
  font-size: 2rem;
  color: #00b39b;
  font-family: Roboto, Arial, sans-serif;
  letter-spacing: -.3px;
  width: 250px; 
  margin: 20px;
  margin: 0 200px;
}
.grid-container {
  display: grid;
  grid-template-columns: 30% 30% 30% 30%;
  grid-template-rows: 33% 33% 33%; 
  gap: 10px;
}
.grid-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
.grid-cell a{
  cursor: pointer;
  font-size: 1rem;
  font-weight: 450;
  font-family: "Roboto", sans-serif;
  line-height: 1.3;
  color: #c5c5c5;
}
.grid-cell a:hover{
  color: #00b39b;
  transition: 0.5s;
}
.grid-cell img{
  width: 80px;
  cursor: pointer;
}
.grid-cell > img {
  filter: gray; 
  -webkit-filter: grayscale(1); 
  filter: grayscale(1); 
}

.grid-cell:hover > img {
  -webkit-filter: grayscale(0);
  filter: none;
  transition: all ease 0.5s;
}

.sec4 {
  background-color:rgb(196, 247, 242);
  text-align: left;
  padding: 20px 200px 0 200px;
  margin: 100px 0;
  display: flex;
  
}

.sec4 #gauche h1{
  font-size: 2.125rem;
  color: #00b39b;
  font-family: Roboto, Arial, sans-serif;
  letter-spacing: -.3px;
  width: 300px; 
  margin: 20px;
  margin-top: 50px;
}
.sec4 #gauche img{
  width: 400px;
  margin: 0;
}

.sec4 #gauche p{
  max-width: 415px;
  font-size: .875em;
  font-weight: 400;
  line-height: 1.7142857143;
  margin: 1.6em 0;
  font-family: Roboto, Arial, sans-serif;
  color: #747474;
  width: 400px; 
  margin: 20px; 
}

.sec4 #droite{
  display: flex;
  width: 100px;
  border-radius: 4px;
}
.sec4 #droite div{
  border-radius: 5px;
}
.sec4 #droite h1{
  max-width: 415px;
  font-size: 1.3em;
  margin: 2px 0;
  font-family: Roboto, Arial, sans-serif;
  text-align: center;
  color: #00b39b;}
.sec4 #droite p{
  text-align: center;
  font-size: .7em;
  font-family: Roboto, Arial, sans-serif;
  color: #747474;
}

.sec4 #droite #colone1 div{
  background-color: #fff;
  width: 200px;
  height: 200px;
  margin: 20px 10px;
  padding: 20px;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.05);
}
.sec4 #droite #colone2 div{
  background-color: #fff;
  width: 200px;
  height: 200px;
  margin: 20px 10px;
  padding: 20px;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.05);
}
.sec4 #droite #colone1{
  margin-top: 15px;
}
.sec4 #droite #colone2{
  margin-top: -5px;
}
.sec4 img{
  margin: 0 40%;
}


.sec5{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  margin-bottom: 100px;
}
.sec5 H1{
  color: #00b39b;
  width: 300px;
  line-height: 1.7142857143;
  letter-spacing: -.3px;
  line-height: 1.3;

}
.sec5 p{
  font-weight: 400;
  font-family: Roboto, Arial, sans-serif;
  color: #747474;
  font-size: 12px;
  text-align: center;
  width: 400px;
  line-height: 1.7142857143;
    
}

.footer {
  padding: 20px;
  text-align: center;
  font-size: 12px;
  color: #ababab;
  border-top: #dfdddd 1px solid;
  font-family: Roboto, Arial, sans-serif;
}

